* {
    box-sizing: border-box;
}

body {
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcfc;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #111111;
    text-decoration: none;
}

header {
    padding: 20px;
    color: #111111;
    background-color: #fcfcfc;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

footer .row {
    margin-top: 1em;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

#logo {
    margin-left: 0px;
    padding: 0px;
    display: flex;
    align-content: flex-start
}

header h3 {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background: rgb(200, 54, 54);
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://i.imgur.com/oriMRfr.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
    height: 600px;
}

#main-art {
    display: flex;
    align-items: center;
    background: rgb(200, 54, 54);
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://i.redd.it/74doqwnhcl3y.png');
    background-size: cover;
    background-position: center left;
    background-attachment: fixed;
    color: whitesmoke;
    height: 600px;
}

.gallery-item {
    display: inline;
}

.img-item {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

.row-margin {
    margin: 2% 15% 0% 15%;
}

#view-button {
    color: #fcfcfc;
    border: 0px;
    background-color: #db3939;
    text-align: center;
    font-size: 30px;
}

.btn {
    min-width: 250px;
    min-height: 50px;
}

#main-desc {
    margin: 5% 15% 5% 15%;
}

#main-desc-text-only {
    margin: 0 0 5% 0;
}

.text-paragraph {
    line-height: 150%;
}

.blank {
    opacity: 0;
}

#main-photo {
    display: flex;
    align-items: center;
    background: url('https://farm5.staticflickr.com/4241/35492679512_423813aa3e_k.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
    height: 600px;
}

#rightnav {
    display: flex;
    justify-content: flex-end;
}

.margin-section {
    padding: 80px 0 0 0;
}

.navbar-fixed {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

#image-display {
    display: flex;
    width: 100%;
    margin: 1% 0 0 0;
}

.text-side-margin {
    margin: 0 8% 0 8%;
}
