/*Main structure of website uses CSS grid. */

body {
	display: grid;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: "header header header" "main main main" "footer footer footer";
	margin: 0;
}

/* Removes bolding on the heading elements. */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* Disable colored and underlined anchors by default unless intentionally underlined. */

a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: rgb(158, 158, 158);
}

/* CSS for the navigation bar that's located on the top of every webpage. */

header {
	display: flex;
	justify-content: space-between;
	grid-area: header;
	padding: 0;
	margin: 0%;
}

/*Menu button for mobile screens*/

#menu {
	display: none;
}

/*Positions navigation links and adds space between each link*/

nav {
	display: flex;
	justify-content: flex-end;
}

header a,
footer a {
	margin: 0 2vw;
}

/*CSS for content area of webpage. */

main {
	grid-area: main;
}

/*Index page banner image*/

.banner-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient( rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.1)), url('images/full-sized/banner-photos/index-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	height: 100vh;
	font-size: 2rem;
}

/*3D art page banner image*/

.banner-3d-page {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient( rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.1)), url('images/full-sized/banner-photos/3d-page-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	height: 100vh;
}

/*Big front page banner iamge for the photo page. */

.banner-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient( rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.1)), url('https://farm5.staticflickr.com/4241/35492679512_423813aa3e_k.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	height: 100vh;
}

/*Big front page banner for video page*/

.banner-video {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient( rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.1)), url('images/full-sized/banner-photos/video-page-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	height: 100vh;
}

/*Banner for blog page*/

.banner-blog {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient( rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.1)), url('images/full-sized/banner-photos/blog-page-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	height: 100vh;
}

/*Banner for about page*/

.banner-about {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient( rgba(0, 0, 0, 0.1),
	rgba(0, 0, 0, 0.1)), url('images/full-sized/banner-photos/about-banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	height: 100vh;
}

.banner-text {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.25vw;
}

.banner-button {
	display: flex;
	align-items: center;
	font-size: 2vh;
	background: white;
	border-radius: 40px;
	height: 5vh;
	padding: 0.5% 2%;
	font-weight: 600;
}

.banner-button:hover {
	background: #FFA232;
}

.banner-button h1 {
	color: black;
}

/* Gallery is a CSS grid where images occupy it in rows of 3*/

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax (1px, 1fr) minmax (1px, 1fr);
	grid-gap: 5vh;
	grid-row-gap: 5vh;
	margin: 5% 19%;
	font-size: 1rem;
}

.gallery img {
	width: 100%;
	vertical-align: middle;
}

.page-intro {
	margin: 5% 19%;
}

/* Text styles*/

.text-center {
	text-align: center;
}

.big-text {
	font-size: 2.5rem;
}

p {
	font-size: 1.2rem;
}

/*Previews for blog posts on the blog page*/

.blog-post-preview {
	overflow: hidden;
}

.blog-post-preview img {
/* Use 35vh as an alternate, experimental height, but that creates vertically orientated rectangles but don't look very bice.*/
	height: 50%;
	object-fit: cover;
	object-position: center;
}

/*Medium width gallery (2 items) */

@media (max-width: 1200px) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5vh;
		grid-row-gap: 5vh;
		margin: 5% 15%;
	}
}

/* Image styles*/

.big-width-img {
    width: 100%;
}

/*Footer CSS */

footer {
	display: flex;
	grid-area: footer;
	justify-content: space-between;
}

/*Mobile layout*/

@media (max-width: 900px) {
	/* There's a column of one-image only for the gallery*/
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax (1px, 1fr);
		margin: 0;
		overflow-x: hidden;
		font-size: 1.5rem;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 5vh;
		grid-row-gap: 5vh;
		margin: 5% 15%;
		font-size: 1.5rem;
	}

	.banner-button {
		padding: 1% 4%;
	}

	p {
		font-size: 1.7rem;
	}
	
	/*Code below is responsible for drawer-style nagivation*/
	nav {
		display: block;
		width: 50vw;
		justify-content: flex-end;
		text-align: right;
	}

	nav a,
	nav:active a {
		display: none;
	}

	#menu {
		display: flex;
		justify-content: flex-end;
		margin-right: 5%;
	}

	nav:hover a {
		visibility: visible;
		display: flex;
		justify-content: flex-end;
	}

	footer {
		display: block;
		justify-content: center;
		text-align: center;
		/*background: #FFA232; <Orange color for more flair*/
		background: #f9f9f9;
	}

	footer a {
		margin: 5vh 0;
	}
}
